
<container>
  <row>
    <columns small="12">

        <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        style="
          border-spacing: 0;
          border-left: 1px solid #e8e7e5;
          border-right: 1px solid #e8e7e5;
          border-bottom: 1px soldi #e8e7e5;
          padding: 10px;
        "
        bg="#ffffff">
            <tr>
                <div width="350" height="150" align="center" style="border-radius:50%;">
                    <img src="..//public//images//logo.webp" width="60" height="60" style="padding-top:5px" border="0" alt="logo"/>
                </div>
              
            </tr>
            <tr>
                <td align="center" style="padding: 0px 40px 40px;">
                    <p style="color: #262626; font-size:32px;text-align:center;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        Hello!<br> 
                        <%=firstName%>
                    </p>
                    Thanks for your generous request for adoption our team will contact you shortly<br>
                    on the number provided by you i.e ph:<%=phone%>
                        
                </td>
            </tr>

        </table>
    </columns>
  </row>
</container>
